TrapitUtils/unit_test/*/* linguist-vendored
Utils/unit_test/*/* linguist-vendored
TrapitUtils/examples/colgroup/*/* linguist-vendored
TrapitUtils/examples/helloworld/*/* linguist-vendored
TrapitUtils/powershell/* linguist-vendored
TrapitUtils/readme/* linguist-vendored
TrapitUtils/readme/*/* linguist-vendored
Utils/powershell/* linguist-vendored
Utils/readme/* linguist-vendored
Utils/readme/*/* linguist-vendored